<a href="https://colab.research.google.com/github/manish447604-hash/2025-26-4077-MANISH-AI-B-DS/blob/main/10_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David'],
    'Age': [25, 30, 27, 22],
}

df = pd.DataFrame(data)
print("Original DataFrame")
print(df)

print(df['Name'] == 'Alice')
print(df['Name'] == 'Charlie')

In [ ]:
import pandas as pd

# Data
data = {
    "Name": ["A", "B", "C"],
    "Age": [10, 20, 30],
    "Marks": [80, 60, 70]
}

df = pd.DataFrame(data)
print("Original Data")
print(df)

# Adding a new column
df["Result"] = ["Pass", "Fail", "Pass"]
print("After adding Result")
print(df)

# Increase working age (actually increasing marks)
df["Marks"] = df["Marks"] + 2
print("After increasing Marks")
print(df)

# Delete new column from original column
df.drop("Result", axis=1, inplace=True)
print("After deleting Result")
print(df)

In [ ]:
# Selection sort
n = int(input("enter number of elements:"))

arr = []

for i in range(n):
    arr.append(int(input(f"enter element {i+1}:")))

print("\n Original array:", arr)

# selection sort logic
for i in range(n-1):
    min_index = i
    for j in range(i+1, n):
        if arr[j] < arr[min_index]:
            min_index = j

    # swap found min element with first element
    arr[i], arr[min_index] = arr[min_index], arr[i]

print("sorted array:", arr)

In [3]:
# Bubble sort
n = int(input("Enter number of elements: "))

arr = []

for i in range(n):
    arr.append(int(input(f"Enter element {i+1}: ")))

print("\nOriginal array:", arr)

# Bubble sort logic
for i in range(n - 1):
    for j in range(n - 1 - i):
        if arr[j] > arr[j + 1]:
            # Swap
            arr[j], arr[j + 1] = arr[j + 1], arr[j]

print("Sorted array:", arr)

Enter number of elements: 3
Enter element 1: 1
Enter element 2: 2
Enter element 3: 3

Original array: [1, 2, 3]
Sorted array: [1, 2, 3]